body
{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.inner-col
{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 3;
    flex-shrink: 3;

}

.inner-row
{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;

}

.outer-col-1
{
    display: flex;
    flex-direction: row;
}

.outer-col-2
{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

nav
{
    flex-basis: 15vw;
    flex-grow: 0;
    flex-shrink: 0;
}

header
{
    flex-basis: 150px;
    flex-grow: 0;
    flex-shrink: 0;
}

article
{
    flex-basis: auto ;
    flex-grow: 1;
    flex-shrink: 1;
}

footer
{
    flex-basis: 150px;
    flex-grow: 0;
    flex-shrink: 0;
}

aside
{
    flex-basis: 15vw;
    flex-grow: 0;
    flex-shrink: 0;
}
